.item-row {
    display: flex;
    justify-content: space-between;
}

.item-row .field {
    font-weight: 600;
    font-size: var(--p-font-size);
    color: var(--green-color);
}

.item-row .value {
    color: var(--black-color);
    padding-left: .5rem;
}