.logContainer {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.contentContainer {
  padding: 10px;
  width: 300px;
}

.button {
  cursor: pointer;
  background-color: #2e2e2e;
  z-index: 900;
  display: flex;
  align-items: center;
  top: 20%;
  height: 100%;
  width: 2rem;
}

.logMainContainer{
  display: flex;
  flex-direction: row-reverse;
}