.border-container {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border: 2px solid var(--green-color);
    border-radius: 5px;
}

.border-container .title {
    position: absolute;
    top: -15px;
    
    font-size: 16px;
    
    background-color: var(--white-color);
    color: var(--green-color);
    border-radius: 5px;
    padding-inline: .5rem;
}