.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    flex: 1;
}

.main-container > header {
    display: flex;
    gap: 2rem;
}

.main-container > section {
    display: flex;
    gap: 2rem;
}

.main-container .left-container {
    min-width: 20rem;
}

.main-container .right-container {
    flex: 1;
}

.main-container .right-container .bottom {
    display: flex;
    justify-content: space-between;
}